//colors
$color-primary: #5593c5;
$color-primary-light: #6fd5d0;
$color-primary-dark: #2832ba;

$color-secondary-light: #eeff00;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light: #f7f7f7;
$color-grey-light-1: #c8c8c85e;
$color-grey-dark-2: #333;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-over-btn-1: rgba(255, 0, 0, 0.3);
$color-over-btn-2: rgba(0, 17, 255, 0.3);

//font
$default-font-size: 2.6rem;

//grid
$grid-widht: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//border-radius
$border-radius: 3px;

//box-shadow
$box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);
